<div class="container">
  <div class="col-lg-8 border p-3 main-section bg-white">
    <div class="row m-0" *ngIf="product">
      <div class="col-lg-4 left-side-product-box pb-3">
        <img src="{{ product.image }}" class="border p-3" />
        <div>
          <p>{{ product.name }}</p>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="right-side-pro-detail border p-3 m-0">
          <div class="row">
            <div class="col-lg-12">
              <p class="m-0 p-0 price-pro">{{ product.price }} €</p>
              <hr class="p-0 m-0" />
            </div>
            <div class="col-lg-12 pt-2">
              <h5>Description du produit</h5>
              <span>{{ product.description }}</span>
              <hr class="m-0 pt-2 mt-2" />
            </div>
            <div class="col-lg-12 mt-3">
              <div class="row">
                <div class="col-lg-6">
                  <button
                    (click)="addProduitToPanier(product)"
                    class="btn btn-success w-100"
                  >
                    Ajouter au Panier
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
