<div class="catalogue-content">
  <fieldset>
    <legend>PRODUITS</legend>

    <table class="table">
      <thead>
        <tr>
          <th>Marque</th>
          <th>Origine</th>
          <th>Taille</th>
          <th>Poids</th>
          <th>Prix</th>
          <th>Goût</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of catalogue$ | async">
          <td>{{ c.marque }}</td>
          <td>{{ c.origine }}</td>
          <td>{{ c.taille }}</td>
          <td>{{ c.poids }}g</td>
          <td>{{ c.prix }}€</td>
          <td>{{ c.gout }}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <div class="container">
    <div class="vertical-center">
      <button class="btnFilterBySize" (click)="filterBySize('XL')">
        Uniquement les chips de taille familial XL
      </button>
      <button class="btnAllProducts" (click)="allProduits()">
        Tous les chips
      </button>
    </div>
  </div>
</div>
