.main-container {
  text-align: center;
  padding-top: 10%;
}
.body {
  background-image: url("https://img.freepik.com/premium-vector/children-s-pattern-colorful-style_23-2147519858.jpg?w=2000");
  opacity: 0.1;
}
