<br />
<br />

<h1>Récapitulatif</h1>

<div
  class="justify-content-center center"
  style="text-align: center; margin-left: 30%"
  id="recapi"
  #recapi
>
  <button class="btn btn-grad recapB">Inscription Enregistrée !</button>

  <button class="btn btn-grad recapB">Voici vos informations saisies :</button>

  <button class="btn btn-grad recapB">Votre nom :{{ firstname }}</button>
  <button class="btn btn-grad recapB">Votre prénom : {{ lastname }}</button>
  <button class="btn btn-grad recapB">Votre adresse : {{ adress }}</button>
  <button class="btn btn-grad recapB">Votre ville : {{ city }}</button>
  <button class="btn btn-grad recapB">Votre code postal : {{ pc }}</button>
  <button class="btn btn-grad recapB">Votre pays : {{ country }}</button>
  <button class="btn btn-grad recapB">Vous êtes : {{ civ }}</button>
  <button class="btn btn-grad recapB">
    Votre numéro de télephone : {{ phone }}
  </button>
  <button class="btn btn-grad recapB">Votre email : {{ mail }}</button>
  <button class="btn btn-grad recapB">Votre identifiant : {{ userid }}</button>
  <button class="btn btn-grad recapB">Votre mot de passe : {{ pass }}</button>
</div>
